.nav-button {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

.nav-button .btn {
  padding: 8px 16px;
  font-size: 14px;
  font-family: "Roboto", serif;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.nav-button .btn.white-btn {
  background-color: transparent;
  color: var(--btn-primary);
  border: none;
}

.nav-button .btn.white-btn:hover {
  background-color: var(--btn-primary);
  color: var(--primary-color);
}

.nav-button .btn.blue-btn {
  background-color: var(--btn-primary);
  color: var(--primary-color);
}

.nav-button .btn.blue-btn:hover {
  background-color: var(--btn-primary);
}

.nav-menu-btn {
  display: none;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn-primary {
  background-color: var(--btn-primary);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--btn-primary);
}
.btn-secondary {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  color: var(--btn-primary);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}
.btn-secondary:hover {
  background-color: var(--btn-hover-color);
  color: var(--btn-primary);
}

.btn-primary-1 {
  background-color: var(--btn-primary);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary-1:hover {
  background-color: var(--btn-primary);
}

.btn-primary-2 {
  background-color: var(--btn-primary);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary-2:hover {
  background-color: var(--btn-primary);
}
