:root {
  /* Primary Colors */
  --primary-color: #ffffff;

  /* Secondary Colors */
  --secondary-color: #f1f5f9;
  --bg-color: #ffffff;

  /* Text And Heading Colors */
  --text-color: #0f172a;
  --text-color-secondary: #ffffff;
  --heading-color: #2563eb;
  --footer-color: #475569;

  /* Border And Quote Colors */
  --border-color: #e2e8f0;
  --border-line-color:#CBD5E1;
  --quote-color:#EAB308;

  /* Button Colors */
  --btn-hover-color: #e6f0ff;
  --btn-primary: #2563eb;
}
